* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ---------- HEADER STYLING ---------- */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0px;
  background: #1f2937;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}

.navigation a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.header-text {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

/* ---------- HERO STYLING ---------- */

.hero {
  background: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 400px;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left {
  width: 35%;
}

.image-placeholder {
  background: #686969;
  color: #f9faf8;
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: #f9faf8;
  background: #3882f6;
  padding: 5px 25px;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
}

/* ---------- PROMO IMAGES STYLING ---------- */

.promo-images {
  height: 400px;
}

.items {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.item-img {
  width: 150px;
  height: 150px;
  border: solid #3882f6 3px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item {
  max-width: 150px;
  text-align: center;
}

.promo-text {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 40px 0;
}

/* ---------- TESTIMONIALS STYLING ---------- */

.testimonials {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.testimonial-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.testimonial {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.author {
  align-self: flex-end;
  font-weight: bold;
}

/* ---------- CALL TO ACTION STYLING ---------- */

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 960px;
  margin: 0 auto;
}

.cta {
  background: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 5px;
  color: #e5e7eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.primary-text {
  font-weight: bold;
}

.secondary-text {
  font-weight: 300;
}

.cta-button button {
  border: 1px solid #f9faf8;
}

/* ---------- FOOTER STYLING ---------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
  color: #f9faf8;
  height: 100px;
}
